* {
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #c6ffe2;
}

/* Style the header */
header {
    background-color: #ffaa00;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
    height: 250px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #ffaa00;
  font-weight: bold;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #333;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
  overflow: hidden;
  background-color: #333;
}

ul {
  list-style-type: none;
  margin: 0;
}

/* Settings for the Menu */
li a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the link color on hover */
li a:hover {
    color: #ffaa00;
    padding: 14px 16px;
}

li a.active {
  background-color: #009999;
  color: white;
}

/* This is what aligns the body text of the page */
article {
    float: left;
    padding: 20px 20px 100px 50px;
    width: 75%;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
    position:absolute;
}

/* Style the footer */
footer {
    clear: left;
    margin: 0 auto;
    position:fixed;
    bottom:0;
    width:100%;
    background-color: #333;
    padding: 2px 40px;
    font-size: 17px;
    color: white;
    height: 60px;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}
