* {
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f1f1f1;
}

/* Style the header */
header {
    background-color: #314195;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 17%;
    background: #ccc;
    margin: 15px 0px;
    text-align: center;
    border-radius: 25px; 
}

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 15px;
}

/* Settings for the Menu */
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #314195;
    color: white;
    border-radius: 7px;
}

/* This is what aligns the body text of the page */
article {
    float: left;
    padding: 20px 20px 100px 20px;
    width: 75%;
}

/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
    position:absolute;
}

/* Style the footer */
footer {
    clear: left;
    margin: 0 auto;
    position:fixed;
    bottom:0;
    width:100%;
    background-color: #314195;
    padding: 10px 20px;
    color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}
