body {
    position: relative;
    min-height: 100%;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #c6ffe2;
}

/* Style the header */
header {
    background-color: #ffaa00;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
    height: 250px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #ffaa00;
  font-weight: bold;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #333;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
  overflow: hidden;
  background-color: #333;
  padding-left: 55px;
}

ul {
  list-style-type: none;
  margin: 0px;
}

/* Settings for the Menu */
li a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the link color on hover */
li a:hover {
    color: #ffaa00;
    padding: 14px 16px;
}

li a.active {
  background-color: #009999;
  color: white;
}

/* This is what aligns the body text of the page */
article {
    float: left;
    display: block;
    padding: 20px 20px 50px 100px;
    width: 85%;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
    position:absolute;
}

.image{
    height: 250px;
    width: 395px;
    position: center;
}

.container{
    float: left;
    position: relative;
    width: 395px;
    margin: 0px 20px 50px;
}

.overlay{
    position: absolute;
    top: 56px;
    bottom: 0;
    left:0;
    right:0;
    height: 250px;
    width: 395px;
    opacity: 0;
    transition: .5s ease;
    background-color: #ffaa00;
}

.container:hover .overlay{
    opacity:1;
}

.text{
    color: #000000;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.ref{
    padding-bottom: 50px;
}

/* Style the footer */
footer {
    clear: left;
    margin: 0 auto;
    position:fixed;
    bottom:0;
    width:100%;
    background-color: #333;
    padding: 2px 95px;
    font-size: 17px;
    color: white;
    height: 60px;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    nav, article{
        width: 100%;
        height: auto;
    }
}
